{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
	{%block content %}
	<nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
    	        <a class="navbar-brand" style="float: right;" href="{% url 'login' %}">Login</a>

	            </div>
            </div>
        </div>
    </nav>
	<div class="container m-50">
		<center>
			<div class="content-section" style="margin-left: 20%; margin-right: 20%">
				<form method="POST" style="width:50%; ">
					<fieldset class="form-group">
						<legend  class="border-bottom mb-4">Reset Password</legend>
						{% csrf_token %} 
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Request Password Reset</button>
					</div>
				</form>
			</div>
		</center>
	</div>
	{% endblock content %}