{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
	{%block content %}
	<nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a class="navbar-brand" style="float: right;" href="{% url 'login' %}">LOGIN</a>
                    </div>
	    		</div>            
            </div>
        </div>
    </nav>
	<div class="alert alert-info" style="margin-right: 20%;">
		<div class="container">
			Your password has been set.
		</div>
        <a href="{% url 'login'%}">Sign In Here</a>
	</div>
	{% endblock content %}
